body {
  font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

header {
  background-color: #29487d;
  color: white;
  padding: 1em;
}

header .cart-logo {
  float: right;
}

header #loginContainer {
  float: right;
}

aside {
  width: 30%;
  float: left;
}

main {
  width: 70%;
  float: right;
}

div.item {
  width: 100%;
  border: aqua;
  height: auto;
  padding: 10px 0;
  margin: 10px 0;
  border: 1px sloid transparent;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

div.item a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: grey;
  color: white;
  border-radius: 2px solid grey;
  border: 2px solid grey;
  border-radius: 3px;
}
